html
  body
    a(href="/auth/twitter") auth with twitter
    a(href="/auth/google") auth with google
    a(href="/auth/github") auth with github
    form(method="POST")
      span Email
      input(type="text", name="email")
      br
      span Password
      input(type="password", name="password")
      br
      input(type="submit")
